
#gregStairs{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#howdy{
    text-align: center;
}

/* #wip{
    text-align: center;
} */

#holler{
    text-align: center;
}

#email{
    text-align: center;
}