/* .body{
    background-color: 
} */

#gregStairs{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.stairsBorder{
    border-color: black;
    border-width: 5px;
    border-style: solid;
    border-radius: 10%;
}

#howdy{
    text-align: center;
}

/* #wip{
    text-align: center;
} */

#projects{
    text-align: center;
}

#contactBorder{
    border-color: black;
    border-width: 5px;
    border-style: solid;
    border-radius: 25px;
    padding: 10px;
}

#holler{
    text-align: center;
}

#contactInfo{
    text-align: center;
}

.homeBtn{
    padding: 5px;
    margin: 5px;
}

.portfolioBtn{
    padding: 5px;
    margin: 5px;
}

.contactBtn{
    padding: 5px;
    margin: 5px;
}