/* .body{
    background-color: 
} */

/* #howdy{
    text-align: center;
}

.homeBtn{
    padding: 5px;
    margin: 5px;
}

.portfolioBtn{
    padding: 5px;
    margin: 5px;
}

.contactBtn{
    padding: 5px;
    margin: 5px;
} */

#name{

}

#headshot{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    border-color: black;
    border-width: 5px;
    border-style: solid;
    border-radius: 10%;
}

#projects{
    border-color: black;
    border-width: 5px;
    border-style: solid;
    border-radius: 25px;
    display: block;
    float: left;
    margin: auto;
    padding: 10px;
    text-align: center;
    width: 33%;
}

#presence{
    border-color: black;
    border-width: 5px;
    border-style: solid;
    border-radius: 25px;
    display: block;
    float: left;
    margin: auto;
    padding: 10px;
    text-align: center;
    width: 33%;
}

#contact{
    border-color: black;
    border-width: 5px;
    border-style: solid;
    border-radius: 25px;
    display: block;
    float: left;
    margin: auto;
    padding: 10px;
    text-align: center;
    width: 33%;
}